* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Verdana", sans-serif;
  line-height: 1.5;
  background: #ececec;
}

nav {
  background-color: #a306b6;
}

nav h2 {
  color: white;
  padding-top: 5px;
  padding-left: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

header {
  min-height: 250px;
  background-image: url("https://fastly.picsum.photos/id/530/1920/600.jpg?hmac=HRrGrKXHuedY3uU79PFc7s5WINAJ42PUbrkRDWM2OzQ");
  background-size: cover;
  margin-bottom: 20px;
}

header h1 {
  color: #ffffff;
  text-align: center;
  padding-top: 70px;
  font-size: 3.5rem;
}

main section {
  margin: 0 auto 20px auto;
  max-width: 65ch;
}

main section h2 {
  margin: 20px 0;
}

section article {
  margin: 8px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  min-width: calc((65ch / 2) - 20px);
  display: inline-block;
}

footer {
  background-color: #a306b6;
  color: white;
  padding: 10px;
}
